---
const { formal, polite, casual, formalRom, politeRom, casualRom, english } = Astro.props;
---
<div class="sentence-block dynamic-text" 
     data-formal={formal} data-formal-rom={formalRom}
     data-polite={polite} data-polite-rom={politeRom}
     data-casual={casual} data-casual-rom={casualRom}>
  
  <div class="kr-row">
    <span class="reader-link" onclick="openSajeonReader(this)">{polite}</span>
    <button class="tts-btn" onclick="speak(this.previousElementSibling.innerText)">
       </button>
  </div>
  <div class="rom">{politeRom}</div>
  <div class="en-row">{english}</div>
</div>